@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* selector universal */
* {
    font-family: Poppins;
    background-color: orange;
    color: aqua;
}
/* en este caso tomaria el segundo porque se encuentran en la misma categoria de elementos */
h2{
    color: yellowgreen;
}
h2{
    color: chartreuse;
}
/* en este campo se encuentran todos selectores de la misma categoria, pero al igual que en el anterior eligira el ultimo por estar de ultimo en la cascada */
[color="red_ green"]{
    color:burlywood;
}
.color{
    color: black;
}
p:hover{
    color:aliceblue;
}
/* el identificador tamvbien se encuentra en una categoria mas alta por ende si lo aplico en comparacion a los anteriores este seria prioridad */
#color{
    color: black;
}
/* despues del id siguen los estilos en linea en cuestion de jerarquia, lo cual seria algo asi  <h4 style="color: red;"></h4> */


/*el important, que es la categoria mas alta de todas  "pero no es recomendado usar"  */
.ccolor{
    color:red !important
}