@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* selector universal */
* {
    font-family: Poppins;
    background-color: orange;
    color: aqua;
}
/* la posicion absoluta sirve basicamente para adaptar cajas segun su contenedor, y si no tiene contenedor el suyo sera el vh. como en el siguiente ejemplo en el cual llevo a cabo los 2 casos en el que usa un contenedor como referencia pero tambien usa el vh, osea toda la pantalla.  */
div div{
    background: yellow;
    width: 100px;
    height: 100px;
    color: black;
}
.padre{
    position:relative ;
    top: 100px;
    margin: auto;
    background: red;
    width: 500px;
    height: 500px;
}
.hijo1{
position:absolute;
top: 0;
}
.hijo2{
    position:absolute;
    right: 0;
}
.hijo3{
    position:absolute;
    right: 0;
    bottom: 0;
}
.hijo4{
    position:absolute;
    bottom: 0;
}
.hijo5{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.h1{
    position: absolute;
    top: 0;
    background: yellow;
    width: 100px;
    height: 100px;
    color: black;
}
.h2{
    position: absolute;
    right: 0;
    top: 0;
    background: yellow;
    width: 100px;
    height: 100px;
    color: black;
}
.h3{
    position: absolute;
    right: 0;
    bottom: 0;
    background: yellow;
    width: 100px;
    height: 100px;
    color: black;
}
.h4{
    position: absolute;
    bottom: 0;
    background: yellow;
    width: 100px;
    height: 100px;
    color: black;
}
