@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* selector universal */
* {
    font-family: Poppins;
    background-color: orange;
    color: aqua;
}
/* El box model es la jerarquia en la que se encuantran las propiedades de la caja por decir algo:
content: es el contenido de la caja
padding: espacio entre contenido y caja 
border : borde de la caja
margin : espacio entre caja y exterior */
.estilo1
{
border: 5px dashed black;
height: 50px;
width: 300px;
margin: 50px;
box-sizing: border-box;
padding: 100px;
color: black;
background-color: aqua;
}